 .u-section-1 {
  min-height: 644px;
}

.u-section-1 .u-line-1 {
  margin-top: 42px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 1px auto 0 calc(((100% - 1140px) / 2) + 78px);
}

.u-section-1 .u-image-1 {
  width: 267px;
  height: 173px;
  margin: -1px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: -173px auto 0 calc(((100% - 1140px) / 2) + 353px);
  padding: 10px 34px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 95px auto 0 calc(((100% - 1140px) / 2) + 345px);
  padding: 10px 29px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 22px);
  height: 175px;
  margin: 174px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 78px);
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 153px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2) + 145px);
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 22px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 78px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 22px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 78px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 22px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 78px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 22px);
  }
}