.u-section-1 .u-sheet-1 {
  min-height: 562px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 46px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 554px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 691px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-block-e717-15 {
  height: 46px;
}

.u-block-e717-26 {
  height: 46px;
}

.u-section-1 .u-icon-1 {
  width: 46px;
  height: 46px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -508px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 46px;
  height: 46px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 46px;
  height: 46px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 46px;
  height: 46px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  width: 46px;
  height: 46px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  width: 46px;
  height: 46px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-7 {
  width: 46px;
  height: 46px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-8 {
  width: 46px;
  height: 46px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-9 {
  width: 46px;
  height: 46px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-10 {
  width: 46px;
  height: 46px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-11 {
  width: 46px;
  height: 46px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-12 {
  width: 46px;
  height: 46px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -600px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-13 {
  width: 46px;
  height: 46px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 0 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 108px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before,
.u-section-1 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-2,
.u-section-1 .u-icon-2:before,
.u-section-1 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-2 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-2 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-3,
.u-section-1 .u-icon-3:before,
.u-section-1 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-3 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-3 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-4,
.u-section-1 .u-icon-4:before,
.u-section-1 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-4 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-4 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-5,
.u-section-1 .u-icon-5:before,
.u-section-1 .u-icon-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-5.u-icon-5.u-icon-5:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-5 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-5.u-icon-5.u-icon-5.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-5 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-6,
.u-section-1 .u-icon-6:before,
.u-section-1 .u-icon-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-6.u-icon-6.u-icon-6:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-6 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-6.u-icon-6.u-icon-6.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-6 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-7,
.u-section-1 .u-icon-7:before,
.u-section-1 .u-icon-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-7.u-icon-7.u-icon-7:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-7 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-7.u-icon-7.u-icon-7.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-7 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-8,
.u-section-1 .u-icon-8:before,
.u-section-1 .u-icon-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-8.u-icon-8.u-icon-8:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-8 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-8.u-icon-8.u-icon-8.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-8 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-9,
.u-section-1 .u-icon-9:before,
.u-section-1 .u-icon-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-9.u-icon-9.u-icon-9:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-9 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-9.u-icon-9.u-icon-9.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-9 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-10,
.u-section-1 .u-icon-10:before,
.u-section-1 .u-icon-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-10.u-icon-10.u-icon-10:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-10 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-10.u-icon-10.u-icon-10.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-10 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-11,
.u-section-1 .u-icon-11:before,
.u-section-1 .u-icon-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-11.u-icon-11.u-icon-11:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-11 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-11.u-icon-11.u-icon-11.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-11 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-12,
.u-section-1 .u-icon-12:before,
.u-section-1 .u-icon-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-12.u-icon-12.u-icon-12:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-12 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-12.u-icon-12.u-icon-12.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-12 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-13,
.u-section-1 .u-icon-13:before,
.u-section-1 .u-icon-13 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-13.u-icon-13.u-icon-13:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-13 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-13.u-icon-13.u-icon-13.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 2px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-1 .u-icon-13 {
  stroke-width: 0 !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}